{% extends "layout.html" %}
{% block content %}
{% endblock content %}

{% block text %}
    <h1> The Impact of Remote Learning </h1>

    <figure>
        <img src = "{{ url_for('static', filename='images/rmt.png')}}" title="Remote Learning" alt = "A laptop with with Microsoft teams a remoting meeting platform open"/>
        <figcaption>
            <small><a id = uccWorksLink href = "https://hapara.com/blog/how-to-survive-remote-learning/">Image credits</a></small>
        </figcaption>
    </figure>
    <p>
         To prevent the spread of Covid-19 the government announced the new form of lifestyle. One of the aspect of this new normal is the remote working. It does not only affect the official employers but also the students. There are also those who cannot work remotely. I as a student am bewildered like many others in the new remote working environment.
         In this section I am ardent show the impact of the remote learning on work and education and its place in future. I would like to share my personal opinion as a Computer Science student at University College Cork Ireland, my second academic year is entirely going on remotely.
    </p>
    <figure>
        <img src = "{{ url_for('static', filename='images/ucc.jpg')}}" title="University College Cork" alt = " Picture of University College Cork's Quad. A beautiful old looking Building"/>
        <figcaption>
            University College Cork
        </figcaption>
    </figure>
    <p>
        Situation is utterly dreary.
         It has negatively impacted on my mental health. As a student without being in college. Evokes a feeling of being entrapped with no oblivion. People see this as a great opportunity to be productive. Some argue that it reduces the travel effort But I disagree, being in a university or school and work environment brings a lot with it. The travel effort, studying or working for a long period of time can have an adverse impact on mental and physical health, travelling to work by a walk or bus balances the stress by taking us out in a different environment through which it prepares us for the day. My first year on campus was one of the most magnificent time in my life, I met a lot of new people, get to know campus, experience how it is like to be in a University.
         UCC is like exploring an entire new planet. The campus use to be full, the quad was never empty, The full fish bowl especially during exams (Fishbowl is a place next to the boole library in UCC's main campus where students can study it is normally open 24hrs ). Many small beautiful moments like these are unforgettable.
         I went back there again, But this time, The Quad was deserted, fishbowl was closed, UCC was barren utterly, like something has stolen its beauty.
    </p>

    <figure>
        <img src = "{{ url_for('static', filename='images/fish_bowl.jpg')}}" title="Fish Bowl" alt = "A common study area with cairs and desk where University Students normally study"/>
        <figcaption>
            Fish Bowl
        </figcaption>
    </figure>



    <p>
        The Remote Working makes us entirely dependant on the technology and the knowledge of this technology.
        But Is the technology evenly distributed ? The education of the young ones and those who are in full time employment are forced to be left alone in the middle of the sea mainly in the less fortunate countries. This is one of the most devastating impact of remote working and leaning that it ignores those who cant afford it.
        The Actress Margaret McAuliffe elegantly presents her optimistic point of view in her Podcast “Finding Inspiration in Darkness” She presents us with the series of songs to express her initial impression of the pandemic. “The pandemic belongs to us all” “How you respond the detail makes us all unique and interesting”. The entire world is stuck in this remote environment loop. In our response and effort towards a task that we complete remotely, we might find or create something inspiring.
         After emerging from this pandemic the remote working and learning can be seen as a new perspective that might lead us to an inspiration to create something amazing.
    </p>

    <figure>
        <img src = "{{ url_for('static', filename='images/world.png')}}" title="We are all in this together" alt = "Picture of Globe with mask on and Hands surrounding it, Presenting a sense of unity"/>
        <figcaption>
            <small><a id = uccWorksLink href = "https://pixabay.com/illustrations/corona-mask-world-together-virus-5002226/">We are all in this together</a></small>
        </figcaption>
    </figure>






    <p>
        Tracy Welconm Rossman founder of Techgirlz and CMO of  Chariot Solutions
        In her article <i>The Implications Of Remote Working As The Workplace Of The Future</i> describes the remote learning as the new normal she mentions
“with people under lockdown around the world, the number of workers having to telecommute suddenly skyrocketed. TIBCO Chief Information Officer Sharon Mandell makes the point, saying that her company “went from a 20% remote workforce to over 85% almost overnight.”
I agree with her, There are certain advantages to remote learning. The employees now no longer have to travel to work and there is also a quite a flexibility with the work hours. An individual can sit at home at their designated workspace. There is also a form of increased productivity.

    </p>

    <p>
        Similarly an article <i>New future of work</i>by Mini Murray form Irish Times
        Gives us an insight into Mindset of a typical employee working in a firm and What is the positive impact

        She shows us the positive impact of remote learning through the perspective of employees in  Dell (IT firm) and Pinsent Manson(law firm )

        The reluctance by many employers up to now to allow agile working was born out of a fear that their business model could not be adapted to cater for it, coupled with concerns that any such change would cause inefficiencies, says Ciara Ruane, senior associate employment and reward at law firm Pinsent Mason.

        “For example, companies were concerned about how they would move away from their traditional desktop set-up and face-to-face meetings. They were also concerned that their employees’ productivity would suffer if they moved to an agile environment, and it would be difficult to measure their productivity, which traditionally has been based on presenteeism and standard working hours. They believed they could not effectively monitor and evaluate productivity and performance if an employee worked remotely,” Ruane says.

        For employers it had been easier and safer to keep doing what they had always done, especially if it had been successful in the past, says Gareth Cullen of Dell.

        “It does require a certain cultural or at least a mindset change. You need to move from a mindset that says, ‘if my team are on site, from 9am to 5pm, I know what they are doing’ to one of trust and ultimately one that is focused on actual productivity.”


    </p>





{% endblock text %}
