{% extends "layout.html" %}

{% block content %}
{% endblock content %}



{% block forms %}

    <form method = "POST" action = "">
        {{ form.hidden_tag() }}

       {{ form.password.label}}  <!-- Form Label -->
        {% if form.password.errors %}
            {{ form.password}}
        <p id ='error' >
            {% for error in form.password.errors %}
            <span> {{error}}</span>

            {% endfor%}
        </p>
        {% else %}
               {{ form.password}}    <!-- Form field -->
        {% endif %}

        {{ form.confirmPassword.label}}  <!-- Form Label -->
       {% if form.confirmPassword.errors %}
            {{ form.confirmPassword}}
        <p id ='error' >
            {% for error in form.confirmPassword.errors %}
            <span> {{error}}</span>

            {% endfor%}
        </p>
        {% else %}
               {{ form.confirmPassword}}    <!-- Form field -->
        {% endif %}

        {{ form.submit }}

    </form>

{% endblock forms %}